In [ ]:
# Random number functions
import random
random.seed() # As no seed provided, hence it takes systime.
print("random number with default seed:", random.random())

random.seed(10)
print("random number with int seed:", random.random())

random number with default seed: 0.5002934028885835
random number with int seed: 0.5714025946899135

**Randomness has many uses in science, art, statistics, cryptography, gaming, gambling,** and other fields. For example, random assignment in randomized controlled trials helps scientists to test hypotheses, and random numbers or pseudorandom numbers help video games such as video poker.

These uses have different levels of requirements, which leads to the use of different methods. Some are strict and some others are loose.

For example, applications in cryptography usually have strict requirements, whereas applications like generating a "quote of the day" can use a looser standard of pseudorandomness.

In [ ]:
## Shuffle()
import random
numlist=[23,24,34,54]
random.shuffle(numlist)
print("Reshuffled list:", numlist)

random.shuffle(numlist)
print("Reshuffled again:", numlist)

Reshuffled list: [23, 34, 54, 24]
Reshuffled again: [34, 23, 24, 54]

In [ ]:
##--randrange() method returns a randomly selected element from range(start, stop, step).
import random

# randomly select an odd number between 1-100 
print("randrange(1,100,2:",random.randrange(1,100,2))

# randomly select a number between 0-99
print("randrage(1oo):", random.randrange(100))

randrange(1,100,2: 87
randrage(1oo): 33

In [ ]:
#Built-in string methods
#len()

str1="Hello India"
print("Total character in above string:",len(str1))

Total character in above string: 11

In [ ]:
#Index()
#Search first index of a character.
str2="My name is Manoj"
print("The first character index:",str2.index('M'))
print("searching for n", str2.index('n'))
print("searching last occurance:", str2.rindex('s'))

The first character index: 0
searching for n 3
searching last occurance: 9

In [ ]:
# Count()
str3='Emaar palm garden'
substr='gard'
print(" character (a) in str3:", str3.count('a'))

print("sub str in string", str3.count(substr))

 character (a) in str3: 4
sub str in string 1

In [ ]:
#---upper, lower, startswith, endswith
#covert to upper and lower cases
str0="Jai Mahasu Devta"
print("convert it into capital:", str0.upper())
print("convert it into capital:", str0.lower())

#---startswith() and endswith() returns bool
print(str0.startswith("Jai"))
print(str0.endswith("narayan"))

convert it into capital: JAI MAHASU DEVTA
convert it into capital: jai mahasu devta
True
False

In [ ]:
#Split the string into array.
str4="Narender Modi"
str5=str4.split(" ")
print(str5)

['Narender', 'Modi']

In [ ]:
#Slice operator
astring="Hello world"
(print(astring[3:6]))
print(astring[2:])
print(astring[:8])

lo
llo world
Hello wo

In [ ]:
#extended syntax of slice is [start,stop,step]
amount='75648933'
print(amount[1:6:2])

549

In [2]:
#read rgt to left and print forward
amount='123456789'
print("negative index -3 :", amount[-3:])

#reverse a string. -1 means step backwards
print("Reversing the string :", amount[ : : -1])

#reverse string and alternating chars
print("reverse string, alternate chars:", amount[ : : -2])

negative index -3 : 789
Reversing the string : 987654321
reverse string, alternate chars: 97531

## Coding exercise(5 Min)

In [4]:
s = "strings are awesome"

## print len of the string ?
print("Length of s = ", len(s))

# find first occurrence of "a" ?
print("The first occurrence of the letter a = ", s.index("a"))

# find Number of a's ?
print("a occurs ", s.count("a"), "times")

# use slicing and find first 5 chars
print("The first five characters are ", s[ : 5]) 

# use slicing and find 5th to 9th char
print("The next five characters are ", s[5 : 10])

# use slicing and find alternate chars from 1st to last.
print("The characters with odd index are", s[1 :  : 2]) 

# use slicing and find 5th-from-last to the last char. Hint : use -ve index 
print("The last five characters are ",s[ -5 : ])

Length of s =  19
The first occurrence of the letter a =  8
a occurs  2 times
The first five characters are  strin
The next five characters are  gs ar
The characters with odd index are tig r wsm
The last five characters are  esome

In [5]:
#-------More String functions

#--accept input and check it is num, alpha or special
#--isalpha(), isdigit(), isalnum()

str = input("Enter any string ? ")

if str.isalpha() :
 print("i/p is alpha only")
elif str.isdigit() :
 print("i/p is digit")
elif str.isalnum() :
 print("i/p is alpha-numeric")
else :
 print("i/p is special char")

## Note :  space is taken as special char

Enter any string ? manoj
i/p is alpha only

In [6]:
#--find() method 
#-- determines if the string str occurs in string or not. if yes returns index, else -1

str1 = "this is string example....wow!!!"
str2 = "exam";

print(str1.find(str2))

print(str1.find(str2, 10))

print(str1.find(str2, 40))  #-1 if not found

#--find from rgt to left 
strA = "example1 and example2"
strB = "exam";
print(strA.rfind(strB))

15
15
-1
13

#Built-in List Functions

In [7]:
#--list() converts a tuple or string or object to List
aTuple = (123, 'C++', 'Java', 'Python')

list1 = list(aTuple)
print("List elements : ", list1)

str = "Hello World"

list2 = list(str)
print("List elements : ", list2)

List elements :  [123, 'C++', 'Java', 'Python']
List elements :  ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [8]:
#-- append() appends object to the list 
list3 = ['sql', 'Java', 'Python']
list3.append(['hackerrank', 'Challenge'])

print("after appending : ", list3)

after appending :  ['sql', 'Java', 'Python', ['hackerrank', 'Challenge']]

In [9]:
#-- extend() adds each element of the iterable to the list one at a time. 
list3 = ['sql', 'Java', 'Python']

list3.extend(['hackerrank', 'Challenge'])

print("after extending : ", list3)

after extending :  ['sql', 'Java', 'Python', 'hackerrank', 'Challenge']

In [10]:
#-- count() counts object in the list 
list4 = ['Java Script', 'Java', 'Python']

print("Count of Java : ", list4.count('Java'))

Count of Java :  1

In [11]:
#--insert() method inserts object obj into list at offset index.

list5 = ['physics', 'chemistry', 'maths']

list5.insert(1, 'Biology')

print ('Final list : ', list5)

Final list :  ['physics', 'Biology', 'chemistry', 'maths']

In [12]:
#--pop() Removes and returns last object from list
list4 = ['physics', 'Biology', 'maths']
list4.pop(1)
print ('pop once : ', list4)

list4.pop()
print ('pop again : ', list4)

pop once :  ['physics', 'maths']
pop again :  ['physics']

In [13]:
## - does pop() work with -ve index ?

list4 = ['physics', 'Biology', 'maths']
list4.pop(-2)

## ans : yes it does.

'Biology'

In [14]:
#--reverse() the list
list5 = ['physics', 'chemistry', 'maths']

list5.reverse()

print("after reversing : ", list5)

after reversing :  ['maths', 'chemistry', 'physics']

In [15]:
#--sort() the list
list6 = ['physics', 'chemistry', 'maths']

list6.sort()

print("after sorting : ", list6)

## sorting uses ASCII values
## ascii(A) -> 65 ,  ascii(a) -> 97
## A -> Z has lower ascii value compared a -> z

after sorting :  ['chemistry', 'maths', 'physics']

In [16]:
#--sort() the list in reverse
list6 = ['physics', 'chemistry', 'maths']

list6.sort(reverse = True)

print("after sorting : ", list6)

after sorting :  ['physics', 'maths', 'chemistry']

#Coding Excerise ( 5 mins )

In [17]:
## Loop over your list and print all elements that are of size 3 ?
list1=[[1,2,3,],[4,5,6,7],[8,9,10]]
for x in list1:
  if len(x)==3:
    print(x)

[1, 2, 3]
[8, 9, 10]

In [18]:
#Enumerate(): returns the index and value both
list1=[[1,2,3,],[4,5,6,7],[8,9,10]]
for i, val in enumerate(list1):
  print(i,val)

0 [1, 2, 3]
1 [4, 5, 6, 7]
2 [8, 9, 10]

In [20]:
#Intersection() 
list1=[1,2,3,4,5,6,6]
list2=[3,3,4,7,8]

# Remember : intersection method is define over set object, not list
print(set(list1))
print(set(list2))
print("-------------")
#use intersection()
print(list(set(list1).intersection(set(list2))))

{1, 2, 3, 4, 5, 6}
{8, 3, 4, 7}
-------------
[3, 4]

In [21]:
## Print the unique elements from List ?
dup=[1,2,3,1,2,5,6,7,8]
print(list(set(dup)))

[1, 2, 3, 5, 6, 7, 8]

In [26]:
# Your list with duplicate values
duplicates = ["abc", "abc", "def"]

#--Print the unique elements from "duplicates" list.
print(list(set(duplicates)))

['abc', 'def']

#Built-in tuple function

In [32]:
#Built-in tuple Functions--
tuple1, tuple2 = (123, 456, 678), (456, 123)
#finding len of tuple
print(len(tuple1))
print(len(tuple2))
print("---------")

#returns max value
print(max(tuple1))
print("------------")

#return min value")
print(min(tuple1))

3
2
---------
678
------------
123

In [37]:
#converts list to tuple
list2 = [123, 'suven', 789]
tuple3=tuple(list2)
print(tuple3)

(123, 'suven', 789)
[123, 'suven', 789]

#ZIP Function

In [45]:
## The purpose of zip() is to map the similar index of multiple containers 
## so that they can be used as a single entity.

#Initializing lists
name=['Dazy', 'Nidhi', 'Maan', 'Rajpoot']
emp_no=[1,3,4,5]
bonus=[20,12,21,14]

#using zip() to map values
map=zip(name, emp_no, bonus) # # if you don't convert to set or list, then it prints the object id
print(map)
print("----------------------")
# converting map Object to a set or list,  for printing purposes 
lmap=set(map)
print("The zip result is:", end=" ")
print(lmap)
print("-------------------------------------------")
## Can we sort ?  Ans : Yes (Remember: we can sort the set, so we need to covert it from set to list first)
list1=list(lmap)
list1.sort()
print(list1)

<zip object at 0x7f1bd5546288>
----------------------
The zip result is: {('Dazy', 1, 20), ('Rajpoot', 5, 14), ('Nidhi', 3, 12), ('Maan', 4, 21)}
-------------------------------------------
[('Dazy', 1, 20), ('Maan', 4, 21), ('Nidhi', 3, 12), ('Rajpoot', 5, 14)]

In [48]:
## - simple application of zip() 
players=['Sachin', 'Sehwag', 'Gambhir','Dhoni']
scores=[100, 76, 85, 150]

for pl, sc in zip(players, scores):
  print("player:   %s      score: %d" %(pl,sc)) ## %s -> String , %d --> int number   , %f --> float number

player:   Sachin      score: 100
player:   Sehwag      score: 76
player:   Gambhir      score: 85
player:   Dhoni      score: 150

#zipping and unzipping

In [5]:
name=['Mahesh', 'Ranjan', 'Sanju', 'Rakesh']
roll_no=[2,5,7,9]
marks=[200, 345, 312, 231]

map=zip(name, roll_no, marks) # use zip () to map values
map2=list(map) # convert it into list
print("the zip results is:", end="")
print(map2)

print("\n")
namz, roll_noz, marksz=zip(*map2)
print("The unzipped result:")
print("The name list is:", end="")
print(namz)

print("the roll no list:", end="")
print(roll_noz)

print("The marks list:", end="")
print(marksz)

the zip results is:[('Mahesh', 2, 200), ('Ranjan', 5, 345), ('Sanju', 7, 312), ('Rakesh', 9, 231)]


The unzipped result:
The name list is:('Mahesh', 'Ranjan', 'Sanju', 'Rakesh')
the roll no list:(2, 5, 7, 9)
The marks list:(200, 345, 312, 231)

#Built-in dict functions

In [6]:
# clear() 
## -- Removes all elements of dictionary dictt
dictt = {'Name':'RIL', 'Dividend':8,  'Outlook':'positive-hold'}
dictt.clear()
print(dictt)

{}

In [7]:
#copy() : Returns a shallow copy of dictionary dictt
dictt = {'Name':'RIL','Dividend':8, 'Outlook':'positive-hold'}

dictt = {'Name':'ITC','Dividend':6, 'Outlook':'positive'}
print(dictt)

{'Name': 'ITC', 'Dividend': 6, 'Outlook': 'positive'}

#Difference between shallow and deep copy

A shallow copy means constructing a new collection object and then populating it with references to the child objects found in the original. In essence, a shallow copy is only one level deep. The copying process does not recurse and therefore wonâ€™t create copies of the child objects themselves.

A deep copy makes the copying process recursive. It means first constructing a new collection object and then recursively populating it with copies of the child objects found in the original. Copying an object this way walks the whole object tree to create a fully independent clone of the original object and all of its children.

In [10]:
#--shallow copy example --
xs = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

ys=list(xs) # Makes a shallow copy. ys refers to same address space
print(ys)
print("----------------")

xs.append(['new list'])
print("xs is:", xs)
print("ys is:", ys)
print("---------------")

xs[1][0]='x'
print("updated xs:", xs)
print("updated ys", ys)
print("---------------")

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
----------------
xs is: [[1, 2, 3], [4, 5, 6], [7, 8, 9], ['new list']]
ys is: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
---------------
updated xs: [[1, 2, 3], ['x', 5, 6], [7, 8, 9], ['new list']]
updated ys [[1, 2, 3], ['x', 5, 6], [7, 8, 9]]
---------------

In [12]:
#deep copy example
import copy
xs = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
zs=copy.deepcopy(xs) # all child objects are copied.
print("zs is:", zs)
print("--------------")
xs[1][0]='x'
print("updated xs:", xs)
print("zs remains same:", zs)

zs is: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
--------------
updated xs: [[1, 2, 3], ['x', 5, 6], [7, 8, 9]]
zs remains same: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#Coding practice

In [15]:
#--get list of all keys, values and key:value pairs ?
dictt = {'Name':'RIL','Dividend':8, 'Outlook':'positive-hold'}
print("list of keys:", dictt.keys())
print("--------------------")

print("List of values:", dictt.values())
print("------------")

print("list of key:values pairs:", dictt.items())

list of keys: dict_keys(['Name', 'Dividend', 'Outlook'])
--------------------
List of values: dict_values(['RIL', 8, 'positive-hold'])
------------
list of key:values pairs: dict_items([('Name', 'RIL'), ('Dividend', 8), ('Outlook', 'positive-hold')])

In [17]:
#--to check for a key ?  -- use in operator.
# -- 'in' is a membership operator 
dictt = {'Name':'RIL','Dividend':8, 'Outlook':'positive-hold'}
print("Name" in dictt);
print("Outlook" in dictt);
print("shop" in dictt);

True
True
False

In [21]:
#--update the dictionary 
dictt = {'Name':'RIL','Dividend':8, 'Outlook':'positive-hold'}
dictt['score']=200
print(dictt)
print("----------------------------------------------------")
#another way
dictt2={'qty':500}
dictt.update(dictt2)
print(dictt)

{'Name': 'RIL', 'Dividend': 8, 'Outlook': 'positive-hold', 'score': 200}
----------------------------------------------------
{'Name': 'RIL', 'Dividend': 8, 'Outlook': 'positive-hold', 'score': 200, 'qty': 500}

In [23]:
#--pop removes a key and returns its value
dict3 = {'Name':'Neha', 'course':'Web Tech'}
dict3.pop('Name')
print(dict3)

{'course': 'Web Tech'}

In [28]:
#--to pop key:value pair.
dict3 = {'Name':'Neha', 'course':'Web Tech'}
dict3.popitem()
dict3.popitem()
print(dict3)

{}

Regards

Manoj Kumar Attri

You can be connected with me all the time here.

linkedin.com/in/manoj-kumar-b43b63150