In [ ]:
#Example
name="Manoj Attri"
location="Gurgaon"
role="Technical"

scope1='''future skills:
AI would lead to automation.'''
print(name,"works at", location,"and plays a", role,' role and has',scope1,)

Manoj Attri works at Gurgaon and plays a Technical  role and has future skills:
AI would lead to automation.

In [ ]:
#Keywords in python.
import keyword

print(keyword.kwlist)
print("total numbers of keyword:", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
total numbers of keyword: 33

In [ ]:
print(keyword.kwlist)
print("total numbers of keyword:", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
total numbers of keyword: 33

In [ ]:
#First position of variable cannot be number, it can be underscore.
_age=54
print(_age)
0age=76
print(0age)

SyntaxError: ignored

In [ ]:
#Multiple assignment
x,y,z=2,4,5
print(x,y,z)
print(x)
print(y)
print(z)

2 4 5
2
4
5

In [ ]:
#Declare marks of 3 subject.
m1, m2, m3= 20, 40,50
ave=(m1+m2+m3)/3
print("average of three subject:", ave)
print("rounded ave marks", round(ave,2))

average of three subject: 36.666666666666664
rounded ave marks 36.67

In [ ]:
#Concept of block of code
#All code lines written inside a block should have the same identation.

if 1!=2:
  print("yes")
else:
  print("No")

yes

In [ ]:
#If my ave marks is >=90 print excellent else print good.
avemarks=92
if avemarks>=90:
  print("Excellent")
else:
  print("Good")

Excellent

In [ ]:
#Multiline statements

home="Window",\
 "Door",\
 "Vantilater",\
 "Fan"
print(home)

('Window', 'Door', 'Vantilater', 'Fan')

In [ ]:
#Quotation in python
#Python accept three types of quotation
#single('), double("") and (''' or """)
#The triple quotes are used to span the string across multiple lines.

fruit='Orange'
dryfruit="Almond"
python='''It is programming language. Its a general purpose 
interprator, interactive and hight level programming language.'''

python1="""It is programming language. Its a general purpose
interprator, interactive and hight level programming language."""

print(fruit)

print("-----------")
print(dryfruit)
print("-----------")
print(python)
print("-----------")
print(python1)

Orange
-----------
Almond
-----------
It is programming language. Its a general purpose
interprator, interactive and hight level programming language.
-----------
It is programming language. Its a general purpose
interprator, interactive and hight level programming language.

In [ ]:
#Getting input from the user.
firstname=input("Whats your name? ")
profession=input("Whats your profession ?")

print("My name is",firstname,"and i am ",profession, "in Dongfang Electronic.")

Whats your name? Manoj
Whats your profession ?QA Engineer
My name is Manoj and i am  QA Engineer in Dongfang Electronic.

In [ ]:
#Using format string when printing o/p
branch="Science"
school="Bogdhar"
cls="plus two"

print(f"My branch is {branch} and school is {school} in {cls} class.")

My branch is Science and school is Bogdhar in plus two class.

In [ ]:
#Python data types:

1. Numbers
2. String
3. Boolean
4. List
5. Tuple
6. Set
7. Dictionary

In [ ]:
# Numbers
# Python numbers are: integer, float and complex

var1=34 # int
var2=3.45 # float
var3= 4+2j # complex

print(var1)
print(var2)
print(var3)

34
3.45
(4+2j)

In [ ]:
#Components of a complex numbers
z=3-4j
print(z, z.real, z.imag, sep="\n")

(3-4j)
3.0
-4.0

In [ ]:
# We can delete any number or any object by del

x=34
y=3.45
z=4+5j

del x,y
print(z)

(4+5j)

In [ ]:
#Python Boolean
#The two constants True and False are defined.
# The usual boolean operators are also available: ==, !=, >, >=,<,<=
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))

print(a==b-1,a==b, a!=b, a>b,a<b,a>=b,a<=b, sep='\n')

enter the value of a10
enter the value of b20
False
False
True
False
True
False
True

In [ ]:
# Python string

str1= 'Himachal@Pradesh'
print(str1)
print(str1[0])
#[m:n] called slice opertor. Will start from mth position and go upto (n-1)th position
print(str1[2:7]) ##Prints from 2nd to 6th. Remember indexing starts from 0.
print(str1[2:])
print(str1[:8])
print(str1*2)
print(str1+"India") # concatenated string
print("-------------")
print(str1[-5])  # negative indexing, means start from right side
print(str1[-4:])
print(str1[-8:-2])

Himachal@Pradesh
H
macha
machal@Pradesh
Himachal
Himachal@PradeshHimachal@Pradesh
Himachal@PradeshIndia
-------------
a
desh
@Prade

In [ ]:
# Python List: It hold different types of data values.
# [] brackets use for list.

bird=['Perrot', 'Peacock', 'Crow', 453, 34.5]
animal=['Cow', 'Bull','Lion', 'Elephant']

print(bird)
print(bird[0])
print(bird[1:4]) # from index 1 to (4-1) i.e 3
print(bird+animal) 
print(bird+"garden") # It only concate list not string. see error

['Perrot', 'Peacock', 'Crow', 453, 34.5]
Perrot
['Peacock', 'Crow', 453]
['Perrot', 'Peacock', 'Crow', 453, 34.5, 'Cow', 'Bull', 'Lion', 'Elephant']

TypeError: ignored

In [ ]:
#Apply few functions on the list.
list1='Python Java SQL R PHP JavaScript'

list2=list1.split(' ') #Splits the single big string into element strings at every space.
                      # In simple word, splits the sentence into words.
                      # Return the value of the split() is a list of strings.
print(list2[1])
print(list2[-2])
print(list2.pop())
print('-'.join(list2)) #Joins list using space as a separator.
print('#'.join(list2[2:5]))

Java
PHP
JavaScript
Python-Java-SQL-R-PHP
SQL#R#PHP

In [ ]:
# Python tuple-> Very similer to list.
# Diff. between list and tuple is: tuple cannot be updated but list can be.
#() bracket is used in tuple.
tuple=('Bucket', 'Iron', 'Rack', 'Hanger')
tinytuple=('Key', 'Saw', 'Bulb')

print(tuple)
print(tuple[1:4])
print(tuple+tinytuple)
print(tuple.pop[-1])# Tuple is immutable so we cannot remove or add any item in tuple.
                    # We can remove or add any item in tuple by converting it into list.

('Bucket', 'Iron', 'Rack', 'Hanger')
('Iron', 'Rack', 'Hanger')
('Bucket', 'Iron', 'Rack', 'Hanger', 'Key', 'Saw', 'Bulb')

AttributeError: ignored

In [ ]:
# Their is a little difference between list and tuple.

#--Lists    1> uses []  2> can be updated
#--tuples   1> uses ()  2> cannot be updated  

#-- tuple and list can hold different types of data values
tuple = ('scikit', 123 , 2.23, 'suven', 72+3j)
list = ['tensor', 456]

#-- list can be updated
list[0] = "Google Tensor"
print(list[0])

#-- tuple cannot be updated 
tuple[0] = "ML-DL"    ##-- NOTE THE ERROR !!!!
print(tuple[0])

Google Tensor

TypeError: ignored

In [ ]:
# Python Set: Set is a collection which is unordered and unindexed. In python set are written with curley{} brackets.

set={'Key', 'Lock', 'Handle', 'Switch','Plug',}
print(set)
# Once a set is created, we cannot change its items but we can add new items.

#Adding a new element
set.add("Neural network & Machine learning") # we can one item at one time. Multiple items not allowed in set.
print(set)

{'Handle', 'Lock', 'Key', 'Switch', 'Plug'}
{'Handle', 'Neural network & Machine learning', 'Lock', 'Key', 'Switch', 'Plug'}

In [ ]:
# Python dictionary: holds key:value pair.
# Enclosed by curly braces{}
# element of dictionary are not ordered.
dict={}
dict['campus']='IIT-K'
dict['branch']='Electrical'

tinydict={'name':'Manoj', 'code': 40278, 'dept': 'Quality'}

print(dict['campus'])   # only prints the value at the key 'campus'
print(dict['branch'])  # only prints the value at the key 'branch'

print(tinydict) # elements of dict are never ordered

print(tinydict.keys())  # .keys is a predefined method. It prints all the keys

print(tinydict.values())  # .values is a predefined method. It prints all the values

print(tinydict.items())   # .items is a predefined method. It prints all the key:value pairs

IIT-K
Electrical
{'name': 'Manoj', 'code': 40278, 'dept': 'Quality'}
dict_keys(['name', 'code', 'dept'])
dict_values(['Manoj', 40278, 'Quality'])
dict_items([('name', 'Manoj'), ('code', 40278), ('dept', 'Quality')])

In [ ]:
## Create a dict , which holds your basic shopping list information.
shoppinglist={'name':'Manoj Attri', 'Total items': 12, 'Bill':3000}

print(shoppinglist)
print(shoppinglist.keys())
print(shoppinglist.values())
print(shoppinglist.items())

print(shoppinglist['name']) # Don't use numeric indexes like 0,1 for accessing any dict element.

{'name': 'Manoj Attri', 'Total items': 12, 'Bill': 3000}
dict_keys(['name', 'Total items', 'Bill'])
dict_values(['Manoj Attri', 12, 3000])
dict_items([('name', 'Manoj Attri'), ('Total items', 12), ('Bill', 3000)])
Manoj Attri

# **Membership & Identity operator**
**in:** Evaluates to true if it finds a variable in the specified sequence and false otherwise.

**not in:** Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.

In [ ]:
# example
list=[1,2,3,2.3,'xyz']
var=1
if var in list:
  print(" 1 is their.")
else:
  print("1 is not their.")

var = 'abc'
if var not in list:
  print('YES')
else:
  print("No")

 1 is their.
YES

In [ ]:
# Python Identity operators
# It compare the memory locations of two objects.

list3=[3,4,5, 3.4, 'attri']
list4=list3  # Imp concept: only the address of list3 is copied to list4.
              # So in simple words, list3 and list4 point to the same space.
list5=[3,4,5, 3.4, 'attri']
if list3 is list4:
  print("list3 and list4 are same")
else:
  print("both are different")

if list3 is not list5:
  print("YES")
else:
  print("No")

list3 and list4 are same
YES

In [ ]:
# Decision making statements

Python programming language assumes any non-zero and non-null values as True, and any zero or null values as False value.

In [ ]:
# ---if-elif-else--
machine=5
emp=20
line=3

if machine>emp:
  print("we need to recruits employees.")
elif machine<emp:
  print("Operate the machine.")
else:
  print('We need to disuss')

Operate the machine.

In [ ]:
a='r'
b='Attri'
if a in b:
  print("YES")
else:
  print("NO")

YES

In [2]:
## The condition expression should evaluate to True or False
## If the expression return None , then its considered as False
## On the other hand if the function returns a notnull value then its considered as True.

if 2*0:
  print("it worked")
else:
  print("It didn't work")


if "Arun is my friend":
  print("yes")
else:
  print("No")

It didn't work
yes

In [25]:
#We wish to calculate your bonus
## if perfomance is A+ , then give 20% bonus ( of CTC )
## if perfomance is A , then give 10% bonus ( of CTC )
## if perfomance is B , then give 5% bonus ( of CTC )
## if perfomance is none of the above grades , then only LOA 

name='Manoj'
professional="Quality Engineer"
salary=500000

print("calulated bonus is:", name)
grade= input("Employee grade:")

if grade=='A+':
  bonus=salary * 0.2
  print("congrats, well done. Your bonus is:", bonus)

  
elif grade=='A':
   bonus=salary*0.10
   print('congrats, good. Your bonus is:', bonus) 
  
elif grade== 'B':
   bonus=salary*0.5
   print("good, try more. Your bonus is:", bonus)
   
else:
  print("Do hard work for next year")

calulated bonus is: Manoj
Employee grade:B
good, try more. Your bonus is: 250000.0

In [ ]:
$How to read a data file into my Colab Notebook ?
#Well, first you need to upload the data file into your Colab. So, we upload it like this :

# Steps to upload any data file into your Colab notebook. (its very simple !!)
# Step 1: Download the dataset to your local PC. For time being you can use this dummy students dataset.
#         https://drive.google.com/open?id=1viCNZx1e3Egi7zsh72zwGjrA_W8dcpul 
# Step 2: Run the below code , select the data file. It would get uploaded to your Colab Notebook.

from google.colab import files
files.upload()

In [ ]:
# now to read this data file , we would use below code :

import pandas as pd

df = pd.read_csv("student_records.csv" , low_memory='false')
df

# ok, now we did here :
# first, i imported a build-in package called pandas. I gave it a short name as pd
# second, read_csv() allows to read a csv file 
# return value of read_csv() function is dataframe. Its a 2-dimensional datastructure and looks like excel table.
# last, i printed the df , i mean the dataframe.